@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --appWhite: #FFF;
  --appBlack: #000;
   --appLightBlack: #1C1C1C;
  --appBanner:#28A99E;
  --appNav:#008088;
  --appTitleBgColor:#114949;
  --appRed: red;
  --appYellow: #eef21c;
}

body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    scroll-behavior: smooth;
}